# Required environment variables
GATEWAY_DOMAIN=
WS_AUTH_KEY=

# Optional environment variables
# default: 100
MAX_RECONNECTION_ATTEMPTS=
# default: false
USE_WSS=
# default: 8100
PORT=
# default: development
IMAGE_TAG=
